section#sobre-mim{
    background-color: #182848;
}

.sobre-section{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 100px;
}

.sobre-imagem img{
    height: 450px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.sobre-info{
    width: 500px;
    color: white;

    h2{
        padding-bottom: 12px;
        font-size: 3rem;
    }
}